* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

}

:host {
  // Overall
  --primary-color: rgb(194, 235, 209);
  --secondary-color:lightgrey;
  --primary-text:black;
  --secondary-text:white;
  --border-radius:0px;
  --error:rgb(219, 52, 52);
 

  // Buttons
  --primary-button:black;
  --primary-button-text:white;

  // Toggle button
  --toggle-text: var(--primary-text,white);
  --toggle-background: var(--primary-color,black);

  // Toggle position
  --toggle-bottom:20px;
  --toggle-right:20px;

  // Widget frame
  --frame-radius:0px;
  
  // Widget frame position
  --bottom:85px;
  --right:20px;
}